<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Environmental_Monitoring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<userSettings>
		<Environmental_Monitoring.Properties.Settings>
   <setting name="Language" serializeAs="String">
    <value>Vi</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value>Tối</value>
   </setting>
   <setting name="NotifyByEmail" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NotifyInApp" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastNotificationCheck" serializeAs="String">
    <value />
   </setting>
  </Environmental_Monitoring.Properties.Settings>
	</userSettings>

	<appSettings>
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpUser" value="greenflow.qtmt@gmail.com" />
		<add key="SmtpPass" value="okvl uidb ftnl eqva" />
		<add key="SmtpEnableSsl" value="true" />
		<add key="SmtpSenderName" value="GreenFlow" />
	</appSettings>
	<connectionStrings>
		<add name="MyDbConnection"
             connectionString="Server=taa37w.h.filess.io;Database=environment_setsobtain;User ID=environment_setsobtain;Password=2efaa3d12c08f988586f5b378f36d9e1c2a1a794;Charset=utf8;"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>